{% from "_render_fields.html" import render_field %}
    <div> 
        <div class="form-section">
            {{ msg }}
            <form method="POST" enctype="multipart/form-data">
                <br>
                <br>
                <br>
                {{ form.csrf_token }}
                <div>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                    {{ render_field(form.email, class="form-control") }}
                        </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-10">
                    {{ render_field(form.password, class="form-control") }}
                    </div>
                </div>
                </div>
                <br>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-14">
                <p><input type="submit" value="Login" class="btn btn-success center" style="width:100px; margin-left: 140px; background-color: #0056b3">
                    </div>
                </div>
            </form>
        </div><!--/.form-section-->
    
     </div>